<!DOCTYPE html>
<html>
<head>
    <title>Create Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Create Event</h2>
    <a href="/dashboard">Dashboard</a>
</div>

<div class="container">
    <form method="POST">
        <input name="title" placeholder="Event Title" required>
        <textarea name="description" placeholder="Description" required></textarea>
        <input type="date" name="date" required>
        <input type="time" name="time" required>
        <input name="location" placeholder="Location" required>
        <button type="submit">Create Event</button>
    </form>
</div>

</body>
</html>
